.jumbotron{
    background-color: #fccccc;
    color: black;
}


.footer{
    padding: 10px 10px 0 10px;
    background-color: #d1d1d1;
    margin-bottom: 0;
}
.btn-lg{
    background-color: #e8b8fc;
    color: #242324;
    border-color: #e8b8fc;
}