.jumbotron{
    background-color: #fccccc;
    color: black;
}


.footer{
    padding: 10px 10px 10px 10px;
    background-color: #d1d1d1;
    margin-right: auto;
    margin-bottom: 0;
}

.card-element{
    background-color: #f5e6f5;
    padding: 1em 1em 1em 1em;
    flex: 1 150px;
}

.btn-inicia{
    background-color: #e8b8fc;
    color: #242324;
    border-color: #e8b8fc;
    width: 100%;
}